!!!    
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title OnlineJudge
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => root_path} OnLine Judge
          .nav-collapse.collapse
            - if user_signed_in?
              .btn-group.pull-right
                %button.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown"}
                  %i.icon-user.icon-white
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a.navbar-link{:href => "#"} View Profile
                  %li
                    %a.navbar-link{:href => "#"} Manage Account
                  %li.divider
                  %li
                    = link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'navbar-link')
            %ul.nav
              %li#home.active
                %a{:href => root_path} Home
              %li#problems
                %a{:href => problems_path} Problems
              %li#search
                %a{:href => "#search"} Search
              %li#statistics
                %a{:href => statistics_index_path} Statistics
    .container-fluid
      .row-fluid
        = yield
      %hr
      %footer
        %p © Company 2013
